<?xml version="1.0"?>
<config>
    <modules>
        <CG_Catalog>
            <version>0.1.0</version>
        </CG_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                      <navigation>CG_Catalog_Block_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>
